.is-hidden {
	display: none;
}

#btn_mc_tags {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#btn_mc_tags div {
	margin-left: 20px;
	padding-top: 20px;
}

#btn_mc_tags div i {
	font-size: 30px;
}

.une_video {
  width: 320px;
  margin-bottom: 20px; 
}

.une_video a, .une_video a:hover{
	color: #000;
	text-decoration: none;
}

.une_video .ico_defaut {
	font-size: 180px;
	display: flex;
	justify-content: center;
	
}
